body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  /* overflow: hidden; */
  margin: 0;
}

#grid{  
  display: grid;
  padding: 6%;
  padding-right: 0%;
  padding-top:1%;
  padding-bottom: 0%;
  padding-left: 6%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.3em;
  justify-content: end;
  align-items: center;
}

#gog{  
  display: grid;
  padding: 6%;
  padding-right: 0%;
  padding-top:1%;
  padding-bottom: 0%;
  padding-left: 6%;
  
  grid-gap: 0.3em;
  justify-content: end;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

#actualrain {
  width: 300px;
  max-height: 600px;
  height: 400px;
}

#normalrain{
  width: 300px;
  height: 400px;
}
#chartdiv2 {
  width: 400px;
  height: 300px;
}

#map {
  width: 350px;
  height: 350px;
  background-color: rgba(245, 245, 245, 0.322);
  padding: 30px;
  box-shadow: 6px 4px 6px 0px rgba(161,161,161,1);
  
}