body {
  font-family: -apple-system, BlinkMacSystemFont, "work sans", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #ffffff;
  /* overflow: hidden; */
  margin: 0;
  }
  #map {
    width: 350px;
    height: 350px;
    background-color: rgba(245, 245, 245, 0.322);
    padding: 30px;
    box-shadow: 6px 4px 6px 0px rgba(161,161,161,1);
   }
#Heading{
  font-family: "work sans", sans-serif;
  font-weight: 700;
  font-size:  72px;
  width: 100vw;
  text-align: center;
}

#grid{  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.3em;
  justify-content: end;
  align-items: center;
}

#gog{
  display: grid;
  margin: 0 6%;
  font-family: "work sans";
  font-size: 12px;
  grid-gap: 0.3em;
  justify-content: end;
  grid-template-columns: 3fr 1fr;
  align-items: normal;
}

h3#charts{
  font-size: 24px;
  font-weight: 500;
  border-bottom: 5px solid seagreen;
  width: fit-content;
  width: -moz-fit-content;
  margin: 100px 0 24px 0;
} 

.breaker{
  grid-column: 1/4;
  height: fit-content;
}

#actualrain, #normalrain {
  width: 340px;
  height: 300px;
  background: #f2fde4;

}

#soiltype, #degradedland {
  width: 340px;
  height: 300px;
}

#map{
  z-index:10;
  position: sticky !important;
  top: 250px;
  right: 20px;
}